@import '../../assets/scss/settings';

img {
    width: 2rem;
    height: 2rem;
}
.logo {
    font-family: 'Text Me One', sans-serif;
    font-size: 1.3rem;
    color: white;
}
.top-bar {
    background-color: $primary-color;
    padding: 0.6rem;
}
.fa-exclamation-triangle {
    color: white;
}