@import '../../assets/scss/variables.scss';

img {
    width: 2.5rem;
    height: 2.5rem;
}
.logo {
    font-family: 'Text Me One', sans-serif;
    font-size: 1.5rem;
    color: white;
}
.top-bar {
    background-color: $primary-color;
    padding: 1rem;
}
.fa-exclamation-triangle {
    color: white;
}