$primary:       #a8b464;
$secondary:     #f0e9ac;
$success:       #a8b464;
$info:          darken($secondary, 15%);
$warning:       #ffae00;
$danger:        #cc4b37;
$light:         lighten($primary, 15%);
$dark:          darken($primary, 15%);